* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#root {
  width: 100%;
  height: 100%;  
  padding: 2rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.frm-get-route {
  width: 30rem;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313036;
  border-radius: 10px;
}

.frm-get-route > input {
  padding: 0.5rem;
  border-radius: 10px;
}

.frm-get-route > button {
  width: max-content;
  background-color: #02326e;  
  padding: 0.4rem;
  border-radius: 5px;
  margin-left: 1rem;
  color: #fff;
  cursor: pointer;
  border: none;
}

.frm-get-route > button:hover {
  background-color: #0000ff;
  color: #05e584;
}

.return {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background-color: #2961e5;
  color: #fff;
  border-radius: 15px;
  margin: 2rem;
  padding: 0.5rem;
  width: max-content;
  align-self: flex-end;  
}

.return:hover {
  background-color: #fff;
  border: double 4px #0000ff;
  color: #0000ff;
}

h1,p {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin: 1rem;
  color: #fff;
}

.container {
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

